<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="cadenaConexion" value="DefaultEndpointsProtocol=https;AccountName=hmorilima01san;AccountKey=I88a5COXSUqH9GGnFVpvNIgq7u0KQ0Mz6P9qB/vyIVFcPHkDbSjaKLzNALU+onmDreVY7maT8EzLXqqMfNVeuw==;EndpointSuffix=core.windows.net"/>
  </appSettings>
</configuration>